.shop .flex {
    display: flex;
    justify-content: center;
}

.shop .category {
    padding: 25px;
    height: 90vh;
    background-color: #fff;
    margin-right: 40px;
}

.shop .brand {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.shop .brand h1:nth-of-type(1) {
    padding-right: 50px;
    border-right: 3px solid rgb(216, 216, 216);
}

.shop .brand h1:nth-of-type(2) {
    color: gray;
}

.shop .box1 {
    background-color: #f6f9fc;
    border: 1px solid #f6f9fc;
    border-radius: 10px;
    margin: 15px 0;
    padding: 5px 10px;
    transition: all 0.25s linear;
    cursor: pointer;
}

.shop .box1:hover {
    background: #fff;
    box-shadow: var(--boxShadow);
}

.shop .box1 img {
    width: 20px;
    height: 20px;
}

.shop .mb100 {
    margin-bottom: 100px;
}

.shop .category .btn-action {
    width: 100%;
    font-size: 16px;
    background-color: #f6f9fc;
    border: 1px solid #f6f9fc;
    border-radius: 10px;
    margin: 15px 0;
    padding: 15px 20px;
    transition: all 0.25s linear;
    cursor: pointer;
}

.shop .category .btn-action:hover {
    background: #fff;
    box-shadow: var(--boxShadow);
}

.shop .heading {
    margin-top: 20px;
}

.shop .heading-left h2 {
    font-weight: 600;
    font-size: 25px;
}

.shop .heading-right span {
    margin-right: 10px;
}

.shop .heading-right {
    cursor: pointer;
}

.shop .heading-right:hover span {
    text-decoration: underline;
}

.shop .d_flex {
    align-items: center;
}

.shop .heading i{
    color: #e94560;
    margin: 10px;
}

.shop .heading-right, .shop .heading-right .icon {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    color: #a2a1a1;
    margin: 0;
}

.shop .f_flex {
    align-items: center;
    margin-bottom: 10px;
}

.shop .box-item .product-item .img-item img {
    height: 100%;
}