.all-product {
    padding: 50px 0;
    background-color: #f6f9fc;
}

.all-product .grid5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.all-product .icon {
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.all-product .icon .modal-sort {
    display: block;
    padding: 20px;
    border: 1px solid transparent;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: var(--boxShadow);
    position: absolute;
    top: 45px;
    z-index: 10;
}

.all-product .icon .modal-sort.hide {
    display: none;
}

.all-product .icon .modal-sort p {
    padding: 10px;
    background-color: #f6f9fc;
    border-radius: 10px;
    transition: all 0.25s linear;
}

.all-product .icon .modal-sort .sort-name,
.all-product .icon .modal-sort .sort-price {
    margin-bottom: 10px;
}

.all-product .icon .modal-sort p:hover {
    box-shadow: var(--boxShadow);
    color: #000;
}

.all-product .icon i:hover {
    color: #fff;
    background-color: #0f3460;
}

.all-product .icon i {
    border: 1px solid #0f3460;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.25s linear;
}

.all-product .title {
    position: relative;
    font-size: 35px;
    color: #e94560;
    font-weight: 600;
    text-align: center;
    padding-bottom: 80px;
}

.all-product .title::after {
    position: absolute;
    content: "";
    width: 10%;
    height: 5px;
    background-color: #a2a2a2;
    border-radius: 999px;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
}

.all-product .product {
    background-color: #fff;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    box-shadow: var(--boxShadow);
    cursor: pointer;
}

.all-product .product:hover .product-like{
    opacity: 1;
}

.all-product .product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.all-product .product h3 {
    font-weight: 400;
    font-size: 17px;
}

.all-product .product .rate i {
    font-size: 15px;
    color: #ffcd4e;
    margin: 5px 5px 5px 0;
}

.all-product .product .price {
    display: flex;
    justify-content: space-between;
    color: #e94560;
    margin-top: 10px;
}

.all-product .product .price button {
    background: none;
    color: #e94560;
    font-size: 20px;
    border: 1px solid #e94560;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.25s linear;
}

.all-product .product .price button:hover {
    background-color: #e94560;
    color: #fff;
}

.all-product .product-like {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    opacity: 0;
    transition: all 0.5s linear;
}

.all-product .product-like label {
    background-color: #0f3460;
    padding: 1px 10px;
    font-size: 12px;
    color: #fff;
    border-radius: 999px;
    margin-bottom: 8px;
    display: inline-block;
}

.all-product .product-like i {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.25s linear;
}

.all-product .product-like i:hover {
    color: #e94560;
}

.all-product .product .discount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background-color: #e94560;
    color: #fff;
    border-radius: 10px 0 0 0;
}

.all-product .percent {
    font-weight: 600;
    margin-bottom: 2px;
}

.all-product .off {
    font-weight: 600;
}

.all-product .product .discount::after {
    content: "";
    position: absolute;
    bottom: -4px;
    right: 0;
    border-width: 0 25px 5px;
    border-style: solid;
    color: #e94560;
    border-color: #e94560 currentColor transparent currentColor;
}

.all-product .p-price .sale {
    color: #ccc;
    text-decoration: line-through;
    margin-top: 5px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.pagination button,
.pagination .arrow-left, 
.pagination .arrow-right {
    font-size: 16px;
    background-color: none;
    border: 1px solid transparent;
    color: #0f3460;
    border-radius: 10px;
    padding: 15px 20px;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.25s linear;
}

.pagination .arrow-left {
    margin-right: 30px;
}

.pagination .arrow-right {
    margin-left: 30px;
}

.pagination button:hover,
.pagination .arrow-left:hover, 
.pagination .arrow-right:hover {
    background-color: #ddd;
}

.pagination button.active {
    background-color: #0f3460;
    color: #fff;
    border-color: #0f3460;
}