.flash .heading i{
    color: #e94560;
    margin: 10px;
}

.flash .f_flex {
    align-items: center;
    margin-bottom: 10px;
}

.flash .box-item .product-item .img-item img {
    height: 100%;
}

.control-btn .next, 
.control-btn .prev {
    color: #0f3460;
    position: absolute;
    border: 1px solid #0f3460;
    top: 40%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    background: #fff;
    transition: all 0.25s linear;
    cursor: pointer;
    z-index: 5;
}

.control-btn .next:hover, 
.control-btn .prev:hover {
    color: #fff;
    background-color: #0f3460;
}


.control-btn .prev {
    left: -20px;
}

.control-btn .next {
    right: -20px;
}