.details {
    padding: 0 0 50px 0;
    background: #f6f9fc;
}

.details .details-container {
    display: flex;
}

.details .details-container .d-left {
    width: 50%;
}

.details .details-container .d-left .img-large {
    width: 100%;
    height: 500px;
    object-fit: cover;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: var(--boxShadow);
}

.details .details-container .d-left .box-img {
    width: 100%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.details .details-container .d-left .box-img img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: var(--boxShadow);
}

.details .details-container .d-right {
    width: 40%;
    margin-left: 50px;
}

.details .details-container .d-right .title {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 20px;
    margin-left: 40px;
    position: relative;
}

.details .details-container .d-right .title::before {
    content: "Mall";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; 
    height: 24px; 
    left: -50px; 
    top: 12px; 
    font-size: 14px;
    font-weight: bold; 
    color: white;
    border-radius: 4px;
    border: 1px solid #e94560;
    background: #e94560;
    padding: 0; 
}

.details .details-container .d-right .box-rate {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.details .details-container .d-right .box-rate i {
    color: #e94560;
    margin-right: 5px;
}

.details .details-container .d-right .box-rate .sold {
    color: gray;
    opacity: 0.8;
    padding-right: 15px;
    border-right: 2px solid #ccc;
}

.details .details-container .d-right .box-rate .like {
    margin-left: 30px;
    color: gray;
}

.details .details-container .d-right .price {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.details .details-container .d-right .price .under {
    color: #e94560;
    font-size: 30px;
    font-weight: bold;
}

.details .details-container .d-right .price .sale {
    text-decoration: line-through;
    color: gray;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
}

.details .details-container .d-right .price .off-price {
    margin-left: 10px;
    color: #e94560;
    font-weight: bold;
}

.details .details-container .d-right .desc {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.details .details-container .d-right .from {
    margin-top: 12px;
}

.details .details-container .d-right .brand span,
.details .details-container .d-right .from span {
    font-weight: bold;
    margin-left: 8px;
}

.details .details-container .d-right .btn_action {
    background-color: #fff;
    border: 1px solid #e94560;
    font-size: 16px;
    font-weight: bold;
    color: #e94560;
    border-radius: 10px;
    padding: 20px 40px;
    cursor: pointer;
    margin-top: 50px;
    transition: all 0.25s linear;
}

.details .details-container .d-right .btn_action:hover {
    background-color: #e94560;
    color: #fff;
}

.details .details-container .d-right .sub-desc {
    margin-top: 10px;
    font-weight: 400;
}

.details .details-container .d-right .sub-desc span {
    font-weight: 400;
    text-transform: capitalize;
    font-weight: bold;
    margin-left: 8px;
}