.product-detail .product-detail-left .price-range {
    background-color: #fff;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-shadow: var(--boxShadow);
}

.product-detail .product-detail-left .price-range .box-price {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 2px solid #f1f1f1;
}
.product-detail .product-detail-left .price-range .checkbox-container {
    margin-top: 10px;
}

.product-detail .product-detail-left .price-range .checkbox {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.product-detail .product-detail-left .price-range .checkbox input {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.product-detail .product-detail-left .price-range .checkbox label {
    margin-left: 10px;
    cursor: pointer;
}