.product-detail {
    padding: 50px 80px;
    background-color: #f6f9fc;
}

.product-detail .banner {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 100px;
}

.product-detail .title {
    position: relative;
    font-size: 35px;
    color: #e94560;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 100px;
}

.product-detail .title::after {
    position: absolute;
    content: "";
    width: 10%;
    height: 5px;
    background-color: #a2a2a2;
    border-radius: 999px;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
}

.product-detail .container-product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.product-detail .content {
    display: flex;
    justify-content: space-between;
}

.product-detail .content .product-detail-left {
    width: 20%;
}

.product-detail .content .product-detail-right {
    width: 80%;
    margin-left: 20px;
}

.product-detail .content .product-detail-right .no-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.product-detail .content .product-detail-right .no-found img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    mix-blend-mode: multiply;
}

.product-detail .content .product-detail-right .no-item {
    font-size: 25px;
    margin-bottom: 15px;
}

.product-detail .content .product-detail-right .no-item-desc {
    color: gray;
    margin-bottom: 20px;
}

.product-detail .content .product-detail-right .desc {
    font-size: 20px;
    font-weight: bold;
}

.product-detail .content .product-detail-right .sort-by span {
    font-size: 14px;
    margin-right: 10px;
}

.product-detail .content .product-detail-right .sort-by select {
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    border: 1px solid #ccc; 
    transition: all 0.15s linear;
}

.product-detail .content .product-detail-right .sort-by select:hover {
    border-color: #e94560; 
    box-shadow: 0 0 5px rgba(233, 69, 96, 0.5); 
}

.product-detail .content .product-detail-right .sort-by select:focus,
.product-detail .content .product-detail-right .sort-by select:active {
    opacity: 0.5; 
    border-color: #e94560; 
}

.product-detail .content .product-detail-right .content-found {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}