.search-item .search-item-left .price-range {
    background-color: #fff;
    padding: 10px 20px;
    border: 1px solid #ccc;
    box-shadow: var(--boxShadow);
    margin-bottom: 20px;
}

.search-item .search-item-left .price-range .box-price {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 2px solid #f1f1f1;
}
.search-item .search-item-left .price-range .checkbox-container {
    margin-top: 10px;
}

.search-item .search-item-left .price-range .brand-container {
    height: auto;
    max-height: 60vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #b8d8f8 #fcf7f7;
}

.search-item .search-item-left .price-range .checkbox {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.search-item .search-item-left .price-range .checkbox input {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.search-item .search-item-left .price-range .checkbox label {
    margin-left: 10px;
    cursor: pointer;
}