.search-item {
    margin: 50px 0 20px;
}

.search-item .search-item-left {
    width: 20%;
}

.search-item .fl {
    display: flex;
}

.search-item .search-item-right {
    margin-left: 50px;
    width: 80%;
}

.search-item .search-item-right .content-right {
    display: flex;
    justify-content: space-between;
}

.search-item .search-item-right .content-left .title {
    text-transform: capitalize;
    margin-bottom: 20px;
}

.search-item .search-item-right .content-right .desc {
    font-size: 20px;
    font-weight: bold;
}

.search-item .search-item-right .no-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.search-item .search-item-right .no-found img {
    width: 250px;
    height: 200px;
    object-fit: cover;
}

.search-item .search-item-right .no-item {
    font-size: 25px;
    margin-bottom: 15px;
}

.search-item .search-item-right .no-item-desc {
    color: gray;
    margin-bottom: 20px;
}

.search-item .search-item-right .content-right .sort-by span {
    font-size: 14px;
    margin-right: 10px;
}

.search-item .search-item-right .content-right .sort-by select {
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    border: 1px solid #ccc; 
    transition: all 0.15s linear;
}

.search-item .search-item-right .content-right .sort-by select:hover {
    border-color: #e94560; 
    box-shadow: 0 0 5px rgba(233, 69, 96, 0.5); 
}

.search-item .search-item-right .content-right .sort-by select:focus,
.search-item .search-item-right .content-right .sort-by select:active {
    opacity: 0.5; 
    border-color: #e94560; 
}

.search-item .search-item-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}