.search-item {
    margin: 50px 0 20px;
}

.search-item .search-item-left {
    width: 20%;
}

.search-item .fl {
    display: flex;
}

.search-item .search-item-right {
    margin-left: 50px;
    width: 80%;
}

.search-item .search-item-right .content-right {
    display: flex;
    justify-content: space-between;
}

.search-item .search-item-right .content-left .title {
    text-transform: capitalize;
    margin-bottom: 20px;
}

.search-item .search-item-left .price-range {
    background-color: #fff;
    padding: 10px 20px;
    border: 1px solid #ccc;
    box-shadow: var(--boxShadow);
}

.search-item .search-item-left .price-range .box-price {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 2px solid #f1f1f1;
}
.search-item .search-item-left .price-range .checkbox-container {
    margin-top: 10px;
}

.search-item .search-item-left .price-range .checkbox {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.search-item .search-item-left .price-range .checkbox input {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.search-item .search-item-left .price-range .checkbox label {
    margin-left: 10px;
    cursor: pointer;
}

.search-item .search-item-right .content-right .desc {
    color: gray;
}

.search-item .search-item-right .no-found {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-item .search-item-right .no-found img {
    width: 250px;
    height: 200px;
    object-fit: cover;
}

.search-item .search-item-right .no-item {
    font-size: 20px;
    font-weight: bold;
}

.search-item .search-item-right .content-right .sort-by span {
    font-size: 14px;
    margin-right: 10px;
}

.search-item .search-item-right .content-right .sort-by select {
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    border: 1px solid #ccc; 
    transition: all 0.15s linear;
}

.search-item .search-item-right .content-right .sort-by select:hover {
    border-color: #e94560; 
    box-shadow: 0 0 5px rgba(233, 69, 96, 0.5); 
}

.search-item .search-item-right .content-right .sort-by select:focus,
.search-item .search-item-right .content-right .sort-by select:active {
    opacity: 0.5; 
    border-color: #e94560; 
}

.search-item .search-item-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.search-item .search-item-container .product {
    background-color: #fff;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    box-shadow: var(--boxShadow);
    margin: 10px;
    cursor: pointer;
}

.search-item .search-item-container .product:hover .product-like{
    opacity: 1;
}

.search-item .search-item-container .product .img {
    margin-bottom: 15px;
}

.search-item .search-item-container .product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.search-item .search-item-container .product h3 {
    font-weight: 400;
    font-size: 17px;
    display: -webkit-box; 
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical; 
    overflow: hidden;
}

.search-item .search-item-container .product .rate i {
    font-size: 15px;
    color: #ffcd4e;
    margin: 5px 5px 5px 0;
}

.search-item .search-item-container .product .price {
    display: flex;
    justify-content: space-between;
    color: #e94560;
    margin-top: 10px;
}

.search-item .search-item-container .product .price button {
    background: none;
    color: #e94560;
    font-size: 20px;
    border: 1px solid #e94560;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.25s linear;
}

.search-item .search-item-container .product .price button:hover {
    background-color: #e94560;
    color: #fff;
}

.search-item .search-item-container .product-like {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    opacity: 0;
    transition: all 0.5s linear;
}

.search-item .search-item-container .product-like label {
    background-color: #0f3460;
    padding: 1px 10px;
    font-size: 12px;
    color: #fff;
    border-radius: 999px;
    margin-bottom: 8px;
    display: inline-block;
}

.search-item .search-item-container .product-like i {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.25s linear;
}

.search-item .search-item-container .product-like i:hover {
    color: #e94560;
}

.search-item .search-item-container .product .discount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background-color: #e94560;
    color: #fff;
    border-radius: 10px 0 0 0;
}

.search-item .search-item-container .percent {
    font-weight: 600;
    margin-bottom: 2px;
}

.search-item .search-item-container .off {
    font-weight: 600;
}

.search-item .search-item-container .product .discount::after {
    content: "";
    position: absolute;
    bottom: -4px;
    right: 0;
    border-width: 0 25px 5px;
    border-style: solid;
    color: #e94560;
    border-color: #e94560 currentColor transparent currentColor;
}

.search-item .search-item-container .p-price .sale {
    color: #ccc;
    text-decoration: line-through;
    margin-top: 5px;
}