.head {
    background-color: #0f3460;
    padding: 13px 0;
    color: #fff;
}

.head .container {
    position: relative;
}

.head i {
    margin-right: 10px;
}

.head label {
    font-size: 14px;
    margin-right: 25px;
}

.head .left {
    display: flex;
}

/* ------------Search----------- */
.search {
    padding: 20px 0;
}

.search .logo img {
    width: auto;
    height: auto;
}

.search .width {
    width: 20%;
}

.search-box {
    position: relative;
    width: 80%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 999px;
    z-index: 10;
}

.search-box i {
    width: 5%;
    text-align: center;
    opacity: 0.5;
    padding: 15px 20px;
    font-size: 17px;
}

.search-box input {
    width: 100%;
    padding: 10px;
    font-size: 17px;
    border: none;
    outline: none;
}

::placeholder {
    font-size: 15px;
}

.search-box > span {
    font-size: 17px;
    width: 20%;
    padding: 10px;
    border-left: 2px solid #ccc;
    display: flex;
    align-items: center;
    opacity: 0.5;
}

.cart {
    position: relative;
}

.search .cart span {
    position: absolute;
    top: -10px;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e94560;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #fff;
}

.search .f_flex {
    justify-content: end;
}

/* ---------Navbar------- */
.categories {
    background: #f6f9fc;
    padding: 0 35px;
    border-radius: 10px;
    margin-top: 5px;
    height: 6vh;
    cursor: pointer;
    transition: all 0.25s linear;
}

.categories:hover {
    background: #ffe1ef;
    box-shadow: var(--boxShadow);
}

.categories span {
    margin-right: 20px;
    font-size: 30px;
    margin-top: 10px;
}

.categories h4 {
    font-weight: 600;
    margin-top: 16px;
    font-size: 16px;
}

.categories h4 i {
    margin-left: 10px;
}

header {
    height: 8vh;    
    box-shadow: -1px 15px 17px -8px rgba(0, 0, 0, 0.1);
}

header ul {
    line-height: 8vh;
}

header ul .nav_link_item {
    position: relative;
    margin-left: 30px;
}

header ul li {
    transition: all 0.5s linear;
    font-size: 17px;
    font-weight: 400;
}

.header ul li hr {
    position: absolute;
    top: 50px;
    left: 0px;
    border: 2px solid #e94560;
    width: 100%;
    height: 2px;
    margin-bottom: 10px;
    border-radius: 999px;
    transition: all 0.5s linear;
}

header ul li:hover {
    color: #e94560;
}

.open {
    display: none;
}

.search.active {
    height: 12vh;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #fff;
    box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.2);
    transition: all 0.2s linear;
}

@media (max-width: 768px) {
    header ul {
        padding-top: 40px;
    }
    .nav-link-mobileMenu {
        position: absolute;
        display: block;
        list-style-type: none;
        left: 0;
        top: 0; 
        transition: all 0.5s linear;
        width: 60%;
        height: 100vh;
        background-color: #fff;
        z-index: 888;
        box-shadow: rgba(50, 50, 93, 0.23) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px;
    }

    header ul li {
        width: 80%;
        transition: all 0.5s linear;
        text-transform: uppercase;
        line-height: 70px;
        cursor: pointer;
        border-bottom: 1px solid #ccc;

    }
    
    header .link {
        display: none;
    }

    .close, .open {
        color: #e94560;
        display: block;
        font-size: 25px;
        z-index: 999;
        cursor: pointer;
    }

    .open {
        position: absolute;
        top: 180px;
        right: 60px;
    }

    .close {
        position: absolute;
        top: 15px;
        left: 55%;
    }
}